/* Fonts */
@font-face {
    font-family: 'Lato';
    src: url("/CWD_Ass4_3161052_3142847_3161763/Fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato Italic';
    src: url("/CWD_Ass4_3161052_3142847_3161763/Fonts/Lato-Italic.ttf");
}

@font-face {
    font-family: 'Lato Bold';
    src: url("/CWD_Ass4_3161052_3142847_3161763/Fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato BoldItalic';
    src: url("/CWD_Ass4_3161052_3142847_3161763/Fonts/Lato-BoldItalic.ttf");
}


/* Variables */
:root {
    --main: #71993B;
    --accent: #F58232;
    --sitewhite: #FFF;
    --siteblack: #000;
    
    --text: #fff;
    --subtext: ;
    --text-underline: #00ad3a;
}

/* */

* {
    padding: 0;
    margin: 0;
}

/* Header: Top Part */

header {
    font-family: 'Lato Bold';

    background-color: var(--background-header);

    display: flex;
    flex-direction: column;
}

header .header-top {
    margin: 2rem 4rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

header .header-top #donate-btn {
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    color: var(--main);

    border: 2px solid var(--main);
    border-radius: 32px;


    align-self: center;

}

/* Header: Navigation */

header nav {
    background-color: var(--main);

    padding: 1.25rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.nav-link {
    font-family: 'Lato Bold';
    color: var(--text);
    font-size: 1rem;

    text-transform: uppercase;
    text-decoration: none;
    margin: 0 1rem;
}

/* Main */

main section {
    width: 100%;
    height: 100vh;
}

main .mission {
    font-family: 'Lato Bold';

    display: flex;
    flex-direction: row;

    position: relative;

    justify-content: flex-end;
    align-items: center;

    background-image: url("/CWD_Ass4_3161052_3142847_3161763/Images/hero-image-resize.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

main .mission #mission-container {
    width: 40%;
    padding: 0 4rem;
}

main .mission #mission-heading {
    color: var(--sitewhite);

    font-size: 2.5rem;

    margin-bottom: 1.5rem;

    text-transform: uppercase;
}

main .mission #mission-text {
    font-family:"Lato italic";
    color: var(--sitewhite);
    margin-bottom: 2rem;
    line-height: 1.6;
}

main .mission #adopt-btn {
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    color: var(--sitewhite);

    border: 2px solid var(--sitewhite);
    border-radius: 32px;

    align-self: center;
}

main .adopt {
    display: flex;
    flex-direction: column;
}

main .adopt #adopt-container {
    margin: 2rem 0;
    padding: 0 4rem;

    justify-items: center;
}

main .adopt #adopt-heading {
    font-family: 'Lato Bold';
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

main .adopt #adopt-text {
    font-family: 'Lato';
    margin: 0 0 2rem 0;

    width: 40%;
    text-align: center;

    line-height: 1.4;
}

main .adopt #view-btn {
    font-family: 'Lato Bold';
    font-size: .75rem;

    padding: .75rem 1.5rem;
    text-transform: uppercase;
    color: var(--sitewhite);

    background-color: var(--main);
    border: 2px solid var(--main);
    border-radius: 32px;

    align-self: center;
}

main #adopt-pets {
    margin: 2rem 0;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-content: space-evenly;
}

main .pet {
    display: flex;
    flex-direction: column;
}

main #adopt-pets #lower {
    margin-top: 4rem;
}

main .pet img {
    width: 192px;
    height: 192px;

    border: 6px solid var(--main);
    border-radius: 50%;

    justify-items: center;
    align-items: center;
}

main .pet button {
    font-family: 'Lato Bold';
    font-size: .70rem;

    width: 128px;

    margin: 1rem 2rem;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    color: var(--siteblack);
    background-color: var(--sitewhite);

    border: 2px solid var(--siteblack);
    border-radius: 32px;
}

main .mission, main .help {
    background-color: gray;
}

main .adopt, main.thisyear {
    background-color: var(--sitewhite);
}

/* Footer */